[2017-08-26 02:15] newyork-anthonyng opened #2 "Add unit tests"
I think we can use Jest and Enzyme to get good test coverage for this library.

Let me know if you want me to create a Pull Request for this.

[2017-08-26 02:19] newyork-anthonyng opened #3 "Remove/document the debug functionality"
Regarding the debug functionality [here](https://github.com/chrisbolin/react-detect-offline/blob/master/src/index.js#L46-L49).

I'm wondering if this functionality is helpful. I feel like most developers would instinctively go `offline ` from their Developer Tools.

[2017-09-01 20:41] chrisbolin commented on #3
@newyork-anthonyng totally agree! the things you do when you don't think anyone with look at your code :D wanna send me a PR?

[2017-09-01 20:42] chrisbolin commented on #2
Totally down for a PR!

[2017-09-03 11:30] noformnocontent opened #4 "desktop browsers unsupported"
it dosnt work on desktop (firefox), if i just yank the cord

rather try to fetch base URL and see if 404 on load

[2017-09-04 04:25] chrisbolin commented on #4
totally, i think we should have a 404 backup. i believe there is an issue on Chrome for Windows as well.

[2017-09-06 05:15] newyork-anthonyng commented on #2
Cool. I'll work on this later in the week when I have time.

[2017-09-18 20:00] chrisbolin commented on #4
For reference later: https://github.com/HubSpot/offline

[2017-12-29 14:58] play-nirvik opened #7 "Avoid external URL calls"
Can we eliminate the external URL call made to `https://ipv4.icanhazip.com/`, or at least have a way to override it?

I am using this plugin in a project and when it runs inside a VPN network, this external URL call is being blocked and hence causing problems.

[2017-12-29 20:49] chrisbolin commented on #7
@play-nirvik sounds great! I'm totally open to PRs. i'd love for the polling (which is the back-up option) to be more configurable. what we you thinking for an API?

[2018-02-23 06:14] debopriyobasu opened #8 "Reloading offline page even after network connection comes back"
When network connection goes away, I render a paragraph, but when it comes back, it loads up the content inside `<Online>`,but soon loads up the content inside `<Offline>` again. I have to refresh to get back to the online content. I have used it as instructed.
Here is my code:
[code]

Kindly fix the issue so that the online content loads up without me manually needing to refresh the page.

[2018-03-02 06:38] chrisbolin commented on #2
housekeeping and just close inactive issues. TOTALLY open to test PRs tho! :)

[2018-03-02 06:38] #2 closed

[2018-03-02 06:44] chrisbolin commented on #3
@newyork-anthonyng thanks for reporting this! fixed in 1.0.6

[2018-03-02 06:44] #3 closed

[2018-03-02 06:45] chrisbolin commented on #4
polling backup added in 1.0.6 for Windows Chrome. Windows Firefox added in 2.0.0

[2018-03-02 06:45] #4 closed

[2018-03-02 07:12] chrisbolin commented on #8
is this by chance Chrome on Windows? I'm wondering if the polling implementation is the cause

[2018-03-02 07:24] debopriyobasu commented on #8
Yes @chrisbolin . It is Chrome on Windows.

[2018-03-02 07:26] chrisbolin commented on #8
Do you have Edge or Firefox? If so could you tell me if the same issue
happens, or if the behavior is different?

On Fri, Mar 2, 2018 at 12:24 AM Debopriyo Basu <notifications@github.com>
wrote:

[2018-03-02 07:28] debopriyobasu commented on #8
I just now checked with Firefox on Ubuntu 17.10. This problem does not happen @chrisbolin
But, it happens on Chrome on Windows.

[2018-03-02 07:40] debopriyobasu commented on #8
I checked with Google Chrome for Linux as well. Now, it also has a problem. The first time I load the webpage and then turn off my internet connection, it remains in the `<Online />` state. I turn my internet connection on and again turn it off to check, now it starts working as expected, and loads the content inside <Offline />.

[2018-03-02 08:00] chrisbolin commented on #8
That's helpful info! Alright I have to go to bed now, but let me look at
this tomorrow

On Mar 2, 2018 12:40 AM, "Debopriyo Basu" <notifications@github.com> wrote:

[2018-03-05 21:15] chrisbolin commented on #8
alright, i have a theory as to why this is happening. Could you try this?

[code]

[2018-03-05 21:16] chrisbolin commented on #8
It uses `Detector` with a render prop rather than `Online` and `Offline`. That will help me narrow down the issue.

[2018-03-05 21:17] chrisbolin commented on #8
Detector has been around since `1.0.6`. It's just an undocumented feature for now

[2018-03-14 15:01] tommyalvarez commented on #8
@chrisbolin This does not working on Chrome 61 for Linux. Also tested the variant with `<Detector>`, same results. If i unplug the network ethernet cable, the app won't refresh (of course i'm not on any wifi network). It only works if i open the chrome console, go to the network tab and check "Offline" ... which of course in real life that trigger never happens when losing internet connection.

[2018-03-14 15:16] chrisbolin commented on #8
hey @tommyalvarez! i bet i know what that issue is then. Chrome on Linux probably does not support the online/offline events and needs to be proactively exempted in our code. Could you try to modify this...

at https://github.com/chrisbolin/react-detect-offline/blob/master/dist/index.js#L25 modify the regex to add your user agent:
[code]

let me know if that works. in fact, just create a PR if it

[2018-03-14 16:02] chrisbolin commented on #8
@tommyalvarez thanks for the user agent details! so it'd be
[code]

[2018-03-14 16:31] tommyalvarez commented on #8
@chrisbolin It works! PR Sent #9

[2018-03-14 17:59] #8 closed

[2018-03-16 23:39] brianespinosa commented on #7
@chrisbolin I think it would make sense to do a couple things:

1. Add a prop `disablePolling` which would override the logic to do the polling completely.
2. Add a prop `pollingUrl` which would have `https://ipv4.icanhazip.com/` as the defaultProp.

Thoughts?

[2018-03-19 04:40] chrisbolin commented on #7
@brianespinosa thanks so much for the suggestions. I'm just trying to mull them over. What's your current use-case (if any)? Would these props be useful to you? Is there some work we can do to obviate the need for extra props? I want to keep the API really simple, if possible. And there are definitely browsers that need polling, so killing it altogether isn't ideal.

[2018-03-19 15:10] brianespinosa commented on #7
To keep the API more simple, maybe just add `pollingUrl` as a prop and that's it. If you pass `null` or `undefined` to it, then the app would not poll at all. That would handle both cases. I agree on keeping it simple.

The use case I have is we have an enterprise application and we cannot allow calls made to some random URL. We would need to control that. Additionally, we will probably not use th

[2018-03-19 16:29] chrisbolin commented on #7
yeah i don't love the dependency on an arbitrary URL either.

I would note that **many modern browsers don't implement the offline/online events properly.** Google Chrome on Windows and Linux is the most prominent. So this polling backup is necessary to support modern browsers.

We could ping `/someRandomLocalURL` (e.g. for this page it would `https://github.com/chrisbolin/react-detect-offline/iss

[2018-03-19 16:59] brianespinosa commented on #7
So are you saying that we would need to have `pollingUrl` use the default url if someone passes it as `null` or `undefined`?

I think what would make sense is to still allow us to define `pollingUrl` with the defaultProp being what you are already using. And then if the user defines `null` or `undefined` for that prop, show a console  warning when in development mode stating something to the effec

[2018-03-19 18:46] chrisbolin commented on #7
I really like that approach!

On Mon, Mar 19, 2018 at 10:59 AM Brian Espinosa <notifications@github.com>
wrote:

[2018-03-27 17:53] brianespinosa commented on #7
Starting work on this now. Should have a PR shortly.

[2018-04-24 00:18] rodrigocipriani opened #11 "Use Navigator.OnLine when browser support this"
To avoid too many requests only to verify if is online, when the browser support `Navigator.OnLine` use this, and if don´t, let work like is now.

Reference:
[https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine)

Ps.: If you like, I can work on it.

[2018-04-24 22:53] chrisbolin commented on #11
hey @rodrigocipriani! thanks for filing this. so unfortunately many browsers have only partial support for the `offline` and `online` events. we actually look for this support here: https://github.com/chrisbolin/react-detect-offline/blob/master/src/index.js#L9

[2018-04-24 22:53] chrisbolin commented on #11
I'm going to close this for now, as we have the handling for supporting browsers. i also have a beta version that adds the ability for manual control. I'll get a link to that.

[2018-04-24 22:56] chrisbolin commented on #11
check out `react-detect-offline@next` (`react-detect-offline@2.1.0`) for more control over polling...
more info here: https://github.com/chrisbolin/react-detect-offline/pull/10#issuecomment-377453040

[2018-04-24 22:56] #11 closed

[2018-04-24 22:57] chrisbolin commented on #7
check out `react-detect-offline@next` (`react-detect-offline@2.1.0`) for more control over polling...

more info here: https://github.com/chrisbolin/react-detect-offline/pull/10#issuecomment-377453040

[2018-04-24 22:57] #7 closed

[2018-08-23 14:23] KBoohene opened #15 "Altering the state of external components"
Hi, I was wondering if any of your components returns some output(online or offline) that will allow me to change the state of another component?

Eg. Your component might return an "online" status, then maybe a callback function to allow me to alter the state of another component based on the "online" status.

If it's not existent could you please point me in the direction where I could get some

[2018-08-23 15:41] chrisbolin commented on #15
check out our `Detector` component: https://github.com/chrisbolin/react-detect-offline#advanced

This library, and most ReactJS libraries, use a top-down one-way data model. So you pass down information, but you don't pass "out" information.

If you're just learn React i'd suggestion something like Thinking In React: https://reactjs.org/docs/thinking-in-react.html

[2018-08-23 15:41] #15 closed

[2018-10-21 05:45] tevon456 opened #17 "ICMP protocol for pinging a url or ip"
was recently looking for an alternative to this project due to the random address being polled, I stumbled upon  https://github.com/QuantumSheep/node-icmp was thinking you could probably check it out

[2018-10-22 09:02] mrjobosco opened #18 "Type Declaration"
Please, can we have a type declaration for this module?

[2018-10-22 09:04] mrjobosco opened #19 "Type Declaration"
Please, can we have a type declaration for this module?

[2018-10-22 09:04] #19 closed

[2018-11-17 16:45] chrisbolin commented on #18
I'm definitely open to type declarations for the module! I currently don't use typescript, so I'm not the best person to author it. Please feel free to open a PR!

[2018-11-22 16:00] herrherrmann commented on #17
You **do** know that you can customize this "random" address by specifying `polling.url` and even turn polling off entirely (via `polling.enabled`), right?

[2018-12-22 12:08] Aarbel opened #21 "Feature Request: slow network detection"
HI @chrisbolin, thanks a lot for this component.

Did you thought about implementing slow network support ? Thanks a lot

# Why it's important
A user doesn't understand the behavior of an app under slow network connexion. Could be great to tell him his connexion is crap.

[2019-01-03 20:02] chrisbolin commented on #4
hey @xfumihiro! if you can verify that linux firefox needs to be added to the unsupported browsers here
https://github.com/chrisbolin/react-detect-offline/blob/master/src/index.js#L7
just open a PR. thanks!

[2019-01-06 11:52] marcopeg opened #22 "data layer abstraction"
Hi, this is a nice library, thank you for supporting it.

It would be nice to use the logic behind the component so to update a redux store (or whathever else stuff.

Basically it would really nice if you could provide a hook (as for react hooks) that abstract it :-)

[2019-01-14 19:06] ramyma opened #23 "Use React context with provider/consumer to pass status"
I am using the Online and Offline components in a couple of places within my application and noticed that the application is hitting the polling url every 5 seconds about 3 times, which shows that each Online/Offline component checks separately for the connection's status.

I propose creating a Provider which could be used to wrap the application's root component and just use a Consumer anywhere w

[2019-01-20 04:46] chrisbolin commented on #23
I love the idea of having one provider! Definitely put up the PR and I can take a look at it. Thank you!

[2019-03-10 00:57] leantide opened #25 "Indication of initial network status"
From what I can tell, I can get an onChange network status, but no ability to know the initial network status before the first change.

I understand the initial network status is available as the render prop of `<Detector>` but that status is only for the render. Within a React render, although I can use the state, I am not able to extract the state and use it outside the render like I can do for

[2019-03-10 01:11] leantide opened #26 "Polling as a fallback"
As far as I can tell, polling is either hard on or hard off based on the enabled setting of the polling prop. But this is not a true fallback.

If I do not set the polling prop, will polling be a fallback function? That is, will polling be automatically used if the app is on a browser which doesn't support the primary online/offline window event?

If not a fallback, can this be added?

[2019-03-10 01:33] leantide commented on #26
Seems you do this already.

[2019-03-10 01:33] #26 closed

[2019-03-10 01:42] leantide commented on #25
Seems I can get this myself from window.navigator.onLine.

[2019-03-10 01:42] #25 closed

[2019-03-26 18:09] brightpixels opened #27 "Initial network status"
My question is related to a recent question that the original poster closed: https://github.com/chrisbolin/react-detect-offline/issues/25

I am using the Detector component, which works as expected, apart from arriving at the app with out a connection.

My use case is that I want to be able to always display a warning modal, whenever the user goes offline, including if they arrive on app (i.e on a

[2019-03-26 22:10] chrisbolin commented on #27
thank you @brightpixels! I'll try to look at it tonight

[2019-03-27 05:01] chrisbolin commented on #27
Thank you for the detailed write-up!

I think the solution here is just to re-think the hierarchy. Embrace React's one-way dataflow and have "react-detect-offline" be at a higher level than the modal. You don't even need `Detector`, just `Offline`:

[code]

Try it out here:  https://codesandbox.io/s/9wxq2mx34

- The modal automatically opens whenever the user goes offline OR starts offline.
- The

[2019-03-27 05:02] chrisbolin commented on #27
Let me know if that works for you!

[2019-03-27 05:03] chrisbolin commented on #25
For those interested in this problem, check out the example here: https://github.com/chrisbolin/react-detect-offline/issues/27#issuecomment-476976188

Also note that the `render` prop of `Detector` should be used far more often than `onChange`. If you are using `onChange` and not `render`, you're probably going to be mad at the library :D

[2019-03-27 06:24] brightpixels commented on #27
Thanks! Will try this as soon (just away from laptop). However part of the requirement is to allow user to dismiss the modal even if they connect back online, which is why I was using the detector and checking for the type of status change.

[2019-03-27 08:50] brightpixels commented on #27
Reporting back: What you explained here: https://github.com/chrisbolin/react-detect-offline/issues/27#issuecomment-476976188 works for me. However, is it possible that modal is explicitly dismissed by the user, even when the connection is regained.

[2019-03-27 23:06] chrisbolin commented on #27
I'm not sure I quite understand this...

If you're asking if the user still has to dismiss the modal when connection is regained, then no, they don't have to.

If you'd like to _force_ the user to dismiss the modal, you *can do this*, but you'll have to rewrite things.

Could you list the steps you'd like the user to be able to take (or NOT be able to take)?

[2019-03-28 00:03] brightpixels commented on #27
once a warning modal is shown to the user (telling the user they have lost connection), I would like to force the user to dismiss the modal. At the moment, modal can be dismissed by the user or it's automatically dismissed the moment the connection status become online.

Once user closes the modal, few seconds later they might get connection back and lose connection again which presents modal agai

[2019-03-28 03:41] chrisbolin commented on #27
Still totally possible :)

In that case you need to use the `render` method on `Detector`.

[code]

You can play with it here: https://codesandbox.io/s/kmxqmz587o

Note: this uses the "`getDerivedStateFromProps` via hooks" method here: https://reactjs.org/docs/hooks-faq.html#how-do-i-implement-getderivedstatefromprops. There might be a cleaner way to do things (see https://reactjs.org/blog/2018/06

[2019-03-28 03:42] chrisbolin commented on #23
(closed due to inactivity)

[2019-03-28 03:43] #17 closed

[2019-03-28 03:45] chrisbolin commented on #21
probably out of scope for this lil project. sorry! :/

browsers are getting better and better support for things like this tho. check out https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API

[2019-03-28 03:45] #21 closed

[2019-03-28 03:46] chrisbolin commented on #22
looking into making this a hook :D

[2019-03-28 03:47] chrisbolin commented on #23
Hopefully something we can do in v3

[2019-03-28 03:52] chrisbolin commented on #18
Hey there, Typescript user. I see you adding a 👍to this issue. How about just helping me out  with a PR? :D

I'm not currently a TS user, so I'd probably just get it Wrong.

[2019-03-28 17:10] brightpixels commented on #27
Thank you v much. I appreciate your time :)

[2019-03-28 18:21] codejamninja opened #33 "switched from GET to HEAD"
Changed the method just broke all my code. Is there a reason for this?

![Screenshot from 2019-03-28 13-19-50](https://user-images.githubusercontent.com/6234038/55182722-4bad4b00-515c-11e9-87b8-6e984c05d20d.png)

[2019-03-28 22:24] chrisbolin commented on #33
Oh no! That's not good. Could you be more specific about what "broke all my code" means?

[2019-03-28 22:47] chrisbolin commented on #27
of course!

[2019-03-28 22:47] #27 closed

[2019-03-29 01:54] codejamninja commented on #33
It means that my code was using the GET method, and unexpectedly it started using the HEAD method.

[2019-03-29 02:29] chrisbolin commented on #33
and the HEAD method does not work for your browser? Or is it endpoint
specific? Code to reproduce would be helpful!

On Thu, Mar 28, 2019 at 7:54 PM Jam Risser <notifications@github.com> wrote:

[2019-03-29 02:30] chrisbolin commented on #33
I’m sure I’m just missing something here. That change was from a community contributor, and it worked in my tests

[2019-03-29 02:41] codejamninja commented on #33
Ah, no problem. People using this on the backend have already changed it to use `GET`, so probably you'll break things again if you revert back. Oh, well. Just keep me posted on what method you are using.

[2019-03-29 02:43] chrisbolin commented on #33
Ahh, that makes more sense. So what I think would be

[2019-03-29 02:45] codejamninja commented on #33
Yeah, not a bad idea.

[2019-03-29 02:47] chrisbolin commented on #33
[code]

[2019-03-29 02:47] chrisbolin commented on #33
and we'd default `method` to `"HEAD"`, as it's the lightest-weight

[2019-03-29 02:52] chrisbolin commented on #33
here's the original rational for `HEAD`: https://github.com/chrisbolin/react-detect-offline/pull/20 (thanks to @alixaxel)

[2019-03-29 03:00] codejamninja commented on #33
Great, here is a pull request to fix it.

https://github.com/chrisbolin/react-detect-offline/pull/34

[2019-03-31 05:27] chrisbolin opened #36 "Plans for v3 Major"
I am currently working on planning for v3, the next major release of this simple library.

I'd love feedback on the plans, if you have any.

## New Features and Fixes
- *Hooks.* A `useOnline` hook for easy and advanced use. Addresses #22.
- *TypeScript.* Library written in TS. Declarations included in package. Addresses #18.
- *Ping Performance.* Single ping every interval no matter how many compo

[2019-03-31 06:03] chrisbolin opened #37 "Polling improvements: switch to faster host, accept error responses"
## Faster host

We use `ipv4.icanhazip.com` currently because that's the standard for other JS polling libraries. But we can probably get much faster. Here are some quick tests:

[code]

Can anyone think of a faster server than google?

## Accept error responses

#20 introduced a subtle change that we should look into more: looking at response status. We should accept (i.e. count as "online") _any

[2019-04-01 14:44] hartzis commented on #36
Do you have a tentative API for `useOnline` you can show?

[2019-04-01 23:02] chrisbolin commented on #36
Here are my current thoughts:

[code]

where `online` is `boolean` and options is something like

[code]

[2019-04-02 02:41] hartzis commented on #36
What is `browserEventsEnabled` and its default?

[2019-04-02 02:59] hartzis commented on #36
💡 What if you the `polling` functionality was independent of the hook/component?

-  as [stated in the readme](https://github.com/chrisbolin/react-detect-offline#browser-support)`94% of worldwide (98% of US) browser traffic` supports the web spec, so why **always** bundle it?
- better tree shaking
- puts the onus on the user to determine when/if needed via browser detection?

#### for >90% of uses

[2019-04-02 03:59] chrisbolin commented on #36
Oh that's a really interesting idea. What about just having two hook exports?

[code]

[2019-04-04 02:35] hartzis commented on #36
@chrisbolin i like the idea of two hook exports, but maybe splitting is just taking it too far? Maybe it's fine to just include the polling since th size is so small anyways?

[2019-04-09 10:57] hult opened #38 "navigator.onLine works on Chrome for Windows"
According to https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine, `navigator.onLine` and the corresponding events have been working on Chrome for Windows since version 11. Is there still a reason to keep it in the `unsupportedUserAgentsPattern`? (Trying it with `polling.enabled=false` on Chrome 73 for Windows now, works like a charm.)

[2019-04-10 14:56] chrisbolin commented on #38
Glad to here you've tested it and it works! Thank you for testing it.

I don't trust any docs on the functioning of the online API; in the past many browsers have implemented it only partially (like only firing the events when the user enters the _browser's own_ "Offline Mode", not on actual disconnection).

On Windows Chrome specifically, the API did not function correctly in December of 2017, so

[2019-04-10 14:56] #38 closed

[2019-04-10 15:04] chrisbolin commented on #38
@hult would you have time to test on Firefox on Windows, too? I'd just like to get record of some tests :)

[2019-04-12 08:45] hult commented on #38
What seems to commonly break the detection on Windows is Docker, because you need to install virtual network cards and stuff for Docker to work (see https://bugs.chromium.org/p/chromium/issues/detail?id=926283&q=navigator.online&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified).

I want the records to show I'm not a Windows user either :) and the o

[2019-04-19 03:03] francisrod01 opened #39 "TypeError: Cannot read property 'toLowerCase' of undefined"
Seems like the `Detector` bugs my Next.js server-side application on browser and system console.

[code]

* I'm using `react@16.8.6`
* `react-detect-offline@2.3.0`
* `react-dom@16.8.6`
* `next@8.1.0`

[2019-04-19 05:59] chrisbolin commented on #39
hmm, i'm not sure what that would be. `.toLowerCase` literally doesn't exist anywhere in this codebase: https://github.com/chrisbolin/react-detect-offline/blob/master/dist/index.js

i'm going to go ahead and close this, but feel free to open it if you investigate and see it really is an issue with `react-detect-offline`

[2019-04-19 05:59] #39 closed

[2019-05-02 14:13] strangewolf opened #40 "Detector bug"
I followed the steps.

[code]

[code]
output:
[code]
Detector triggers two times and after that it doesn't works, even if network changes from offline to online or online to offline.

[2019-05-10 15:55] nharrisanalyst opened #41 "Issue with http://icanhazip.com/ being out of service"
This morning the website http://icanhazip.com/ was sending 503 errors meaning that it was wrongfully giving my application an error for being offline.

as this module depends on http://ipv4.icanhazip.com/  to detect you isp and if you are online so   is their anyway we can modify this so that if http://ipv4.icanhazip.com/ is sending 503 errors that we do not give a false positive when trying to de

[2019-05-10 15:55] nharrisanalyst commented on #41
or if anyone has any suggestions on work i good do to fix this

[2019-05-10 16:02] Francomgarcia commented on #37
Hey, it seems the library has an issue in windows. It shows this url http://ipv4.icanhazip.com/  can't be accessed.

[2019-05-10 16:04] chrisbolin commented on #41
@nharrisanalyst thanks for the heads up! if you want to fix this, i'd love a PR that considered _any_ response from the server as an "online" signal. e.g. 200, 301, 404, 503. All of those should signal that the application is online.

[2019-05-10 16:05] chrisbolin commented on #37
@Francomgarcia see https://github.com/chrisbolin/react-detect-offline/issues/41

[2019-05-10 16:08] nharrisanalyst commented on #41
https://twitter.com/majorhayden/status/1126859130268987393

[2019-05-10 16:13] chrisbolin commented on #41
this is fully configurable, too: https://github.com/chrisbolin/react-detect-offline#props

just change `polling.url` to something you have more confidence in :D

[2019-05-10 17:02] kpereda commented on #41
So the idea would be to just verify that the response exists and remove the `xhr.status >= 200 && xhr.status < 400` verification?

[code]

[2019-05-10 17:41] chrisbolin commented on #41
Exactly!

[2019-05-11 03:17] chrisbolin commented on #41
testing @kpereda's fix right now. looks good so far!

[2019-05-11 03:31] chrisbolin commented on #41
@kpereda thanks for the quick fix!

[2019-05-11 03:32] chrisbolin commented on #41
@nharrisanalyst thanks for reporting

this is fixed in [**react-detect-offline@2.4.0**](https://www.npmjs.com/package/react-detect-offline)

[2019-05-11 03:32] #41 closed

[2019-05-11 04:13] chrisbolin commented on #40
sorry about the confusion @strangewolf. could you reproduce on https://codesandbox.io for us? what OS and browser we you seeing this on? what "type" of disconnection was this (turning off WiFi, switching chrome to "offline" in DevTools)

[2019-06-04 10:45] tonyhallett opened #43 "Immediately ping"
Currently the first ping is determined by the interval, so prior to that there could be an incomplete state

[2019-06-04 10:49] tonyhallett opened #44 "Don't listen to the online event if polling"
This is my understanding

The purpose of polling is because the online event is not necessarily a true indicator of internet connection.  By listening to it when polling there can be a false positive until the next ping determines the true nature of the internet connection.

[2019-06-06 05:37] chrisbolin commented on #43
totally agree @tonyhallett! i'll take a PR if you want to add that to `startPolling` - https://github.com/chrisbolin/react-detect-offline/blob/master/src/index.js#L142

[2019-06-06 05:47] chrisbolin commented on #44
I'm sorry, it is confusing. The polling is a _back up_. The only reason polling is there is to fill in the gaps of browser support. There's no fear of false positives; just a fear of missing support altogether :)

Browsers are constantly adding and improving the online events, and those should be prioritized.

[2019-06-06 05:47] #44 closed

[2019-06-06 05:48] chrisbolin commented on #40
(closed due to inactivity. we can re-open if the issue persists)

[2019-06-06 05:48] #40 closed

[2019-06-06 05:49] chrisbolin commented on #33
closed issue, see PR #34

[2019-06-06 05:49] #33 closed

[2019-06-06 10:22] tonyhallett commented on #44
I don't find it confusing. Both [mdn](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine) and [caniuse](https://caniuse.com/#feat=online-status) are clear that online does not always mean connection to the internet, after all that is why you are polling.

The clearest example I can provide is with firefox and work offline mode.  Disconnect from the internet and work offline wi

[2019-06-06 10:26] tonyhallett commented on #43
chris I have already implemented it in my own component ( needed react context and did not want multiple listeners and multiple pings in addition to [Don't listen to the online event when polling](https://github.com/chrisbolin/react-detect-offline/issues/44).  Was just bringing it to your attention

[2019-06-21 11:08] kWeglinski commented on #37
nice, I'd extend it with customisable url so if I have i.e. `api/status` endpoint then I could use it

[2019-06-21 16:07] chrisbolin commented on #37
You’re in luck! Check out the polling.url prop

On Fri, Jun 21, 2019 at 5:08 AM Krzysztof Węgliński <
notifications@github.com> wrote:

[2019-09-18 18:42] ZippoLag commented on #7
Hi, sorry if I should've asked this in a new ticket, but: I'm using Chrome's latest version on Windows and I'm seeing lots of calls to icanhazip with a plain Detector and Offline components.. I thought that feature detection would prevent this?

If I just pass `polling={false}` to them then detection works just fine based on events, but I'm wondering if there's something we can do to avoid polling

[2019-09-18 21:05] chrisbolin commented on #7
Thank you for testing this with a new version of Chrome on Windows! (I'm on
OS X myself)

I'll update the default polling config for this then. Thanks again for your
help!

On Wed, Sep 18, 2019 at 12:42 PM Sebastián R. Vansteenkiste <
notifications@github.com> wrote:

[2019-10-08 07:05] GriffinSauce opened #45 "Online event is misleading - should always poll when "online""
From [MDN](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine):

This is the most comprehensive implementation I've found but it still doesn't account for that fact.

True connectivity checking would:
- when "offline" return offline
- when "online", still check with ping and return that status

Really there are three statusses: offline | connected | online

[2019-10-09 12:40] ZippoLag commented on #7
No, thanks to you!

El mié., 18 de sep. de 2019 a la(s) 18:05, Chris Bolin (notifications@github.com<mailto:notifications@github.com>) escribió:
Thank you for testing this with a new version of Chrome on Windows! (I'm on
OS X myself)

I'll update the default polling config for this then. Thanks again for your
help!

On Wed, Sep 18, 2019 at 12:42 PM Sebastián R. Vansteenkiste <
notifications@github

[2019-10-14 08:30] HomayunZ opened #47 "#WM0039"

[2019-10-14 08:30] HomayunZ opened #48 "wm0039"
wm0039

[2019-10-14 08:31] HomayunZ opened #49 "IR780170000000329282542003"

[2019-10-14 08:32] HomayunZ commented on #49
wm0039 AZ kahkashan

[2019-10-14 08:32] HomayunZ commented on #49
wm0039 AZ kahkashan

[2019-10-14 08:32] HomayunZ commented on #49
wm0039 AZ kahkashan

[2019-10-14 08:32] #49 closed

[2019-10-14 08:37] HomayunZ opened #50 "723456_897345"

[2019-12-18 12:38] jsomdev commented on #18
Hi Chris,

I have only recently started using the package. And i am totally unfamiliar with contributing on open source projects:
Hopefully this can help you.

[code]

[2020-01-04 16:10] jmptr commented on #36
My preference is to allow the developer to specify polling behavior in the provider.

[code]

[2020-02-19 16:56] dmikester1 commented on #36
Awesome!  Do you have an ETA on v3?  For the current version, how would I set a state var once the app goes offline, and set it back when it goes online?

[2020-03-27 21:29] themzed commented on #36
Hi @chrisbolin, Are you working on `useOnline` Hook? If not I'd like to work on it.

[2020-03-27 22:54] hartzis commented on #36
i’d say go for it.

On Fri, Mar 27, 2020 at 15:29 Mohammadreza Ziadzadeh <
notifications@github.com> wrote:

--
Brian Hartz
www.hartzis.me <http://www.hartzis.me/about>
brianhartz@gmail.com

[2020-03-29 21:21] chrisbolin commented on #36
@themzed yeah definitely take a swing at all :)

There are other offline hooks too, though, if you don't want to build your own: https://github.com/rehooks/online-status

[2020-04-17 07:49] attiqeurrehman opened #53 "Custom URL Pooling doesn't work"
Hi,

I am having issue with custom URL pooling, following is the code:

[code]
and usage of it is:

[code]
But it still goes to the https://ipv4.icanhazip.com/ instead of the custom URL added. Any idea?

Version: 2.4.0

[2020-04-18 17:45] psanders commented on #53
I'm having the same issue.

[2020-04-21 16:36] chrisbolin commented on #53
@attiqeurrehman and @psanders sorry about this! PRs are welcome if you have time to look at it

[2020-04-21 17:30] attiqeurrehman commented on #53
@chrisbolin I have checked again and found a typo in my code so mine is working. @psanders check the **getPollingConfig** in debugger. I hope you resolve your issue as well.

[2020-04-30 09:49] JohnRayson commented on #18
Just a note to say that although I can't comment on its completeness, the type information suggested by @jsomdev is working, and allows `react-detect-offline` to work in typescript projects.

[2020-05-04 15:02] adalidda opened #54 "Detect false offline when using VPN"
Hi,

The package works great with regular internet connection. However, when using VPN, the package detect back and forth offline and online. Any update to fix the issue ?

Thank You
Adalidda.com

[2020-05-04 17:19] chrisbolin commented on #54
ah interesting! i hadn't seen that before. are you using polling?

[2020-05-05 01:47] adalidda commented on #54
Yes, my webapp used apollo graphql mongodb. But I just discover that the above issue is specific to Free Vpn plug in for Google Chrome. If I used  SoftEther VPN client manager, the package works fine under VPN.

Thank You for this great package.

Adalidda.com

[2020-05-05 14:05] chrisbolin commented on #54
Thank you for looking into it! Could you post a link to the specific Chrome plug-in? That way other users can find this discussion.

[2020-05-08 01:46] adalidda commented on #54
Plug in name: Free VPN - the fastest VPN in the house
The link to the plug in is https://chrome.google.com/webstore/detail/free-vpn-the-fastest-vpn/enaobbodnmbpecahhojidoiblhmnohef

I think that you should make the detect timeout an optional parameter, so we can choose after how many ms, the <online> or <offline> should be activate. The current timeout seems too fast so that may generate false det

[2020-05-08 11:27] mathieusteele commented on #18
Using the type definitions provided by @jsomdev worked for me. I created a folder in my src directory called /types/ and added /react-detect-offline/index.d.ts and pasted the contents of @jsomdev's post. Thanks @chrisbolin for a great package and thank you @jsomdev for sharing your type definitions.

[2020-05-12 11:45] FlxAlbroscheit commented on #18
I do confirm as well that the definition by @jsomdev is working as expected. Big up!

[2020-05-27 13:05] ekynoxe commented on #53
I have the same issue and found that it happens if I switch my user agent to an unsupported one listed in https://github.com/chrisbolin/react-detect-offline/blob/master/src/index.js#L7

Why would the override not work on some user agents, but work on others?

[2020-05-28 09:56] FlxAlbroscheit commented on #43
I could provide a PR. However, should this become a default functionality or an option (pingImmediately [bool])?

[2020-05-30 04:40] chrisbolin commented on #43
I think it should be standard behavior while polling. No need to put it behind a prop

[2020-06-20 13:56] barbalex opened #56 "more control over polling"
I am building an offline-first app. It loads all data into the local store. On user-edits it edits the data in the local store an then tries to update the server. If react-detect-offline detects "offline", it waits for the app to be online again.

In other words: The app can do perfectly well without accessing the app server. All it needs to know is whether the api is accessible.

The app can also

[2020-06-20 15:25] barbalex commented on #56
I decided that this might be out of the scope of react-detect-offline.

Inspired by react-detect-offline I built a simple component that does what I want:
[code]

Thanks for this great tool!

[2020-06-20 15:25] #56 closed

[2020-06-25 05:47] chrisbolin commented on #56
@barbalex i'm glad you found this code to inspire you to build something on it!

[2020-10-14 20:54] yegow commented on #18
Another happy soul here @jsomdev, thanks a lot.

[2020-10-21 04:36] andrewhamili commented on #18
Hey fellow Typescript users, how did you use those type declarations? I am also new to the Typescript world and I don't know much about type declarations. I tried to use @jsomdev 's declaration file but I ended up having errors.

![image](https://user-images.githubusercontent.com/20767537/96673808-e7835500-1399-11eb-9060-cbb919a4eedb.png)

From where exactly should I put that file? Or what should

[2020-10-21 04:50] andrewhamili commented on #18
Okay, I already made it working. I create a folder named react-detect-offline inside @types folder inside node_modules and placed the index.d.ts file. Thanks @jsomdev Your code is working.

[2020-10-28 09:43] jonasdev commented on #54
@chrisbolin I might facing the same issue.
It keeps going on and off.

However, I am getting this error message, everytime it checks for connection (my interval is set to 3000 ms)
[code]

[2020-11-10 16:37] #36 closed

[2020-12-01 18:21] EltonCarreiro commented on #18
Hi, the declaration file above throws some errors for those who are using typescript:

`An interface declaring no members is equivalent to its supertype @typescript-eslint/no-empty-interface`.

To fix that, I've changed a couple of lines, here is the updated declaration:

[code]

I've basically removed the empty interfaces and used `type DerivedType = BaseType;` instead.

[2020-12-03 22:30] Satsh24 commented on #54
I'm having the same issue with pinging `https://google.com` on work environments. Can we have configs to pass `CORS` headers ?  or `mode: 'no-cors'` ?
cc @chrisbolin

[2020-12-07 17:11] subhendusethi opened #64 "UnSupported User Agents Outdated?"
https://github.com/chrisbolin/react-detect-offline/blob/c445f87ca50c3d015cdebf575a1a9433817dcd2a/src/index.js#L7

Windows Chrome has support navigator APIs, we should bump the version and update this line to remove Windows Chrome.

https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine

[2021-01-15 18:10] chrisbolin opened #71 "Thoughts on a hook interface and architecture"
[code]

Key points:
- `useOnlineEffect` is the CORE functionality. Everything is based on it.
- `useOnline` uses `useOnlineEffect` and `useState`. It returns a boolean.
- `Online` and `Offline` work exactly as they do in v2, but under the hood use `useOnline`
- no more `Detector` - people could just use `useOnline` hook*
- no more `onChange` prop - people could just use `useOnlineEffect`*
- * for

[2021-01-15 18:10] chrisbolin commented on #71
forgive my javascript, i haven't written it lately 😂

[2021-01-20 23:35] cwise89 commented on #18
@EltonCarreiro, Thanks for checking out the package! I am actually getting Version 3 out to beta by the end of the month. I'd love to have you try that out as it will be in Typescript with some shiny new Hooks!

[2021-01-22 21:39] chrisbolin opened #73 "Possible issue with Safari on M1"
this bug blows my mind. it would mean that we'd need to re-enable the ping backup for safari (and maybe other browser on the M1).

https://twitter.com/P_Harrington83/status/1352624968044064769

[2021-01-22 21:43] mildlygeeky commented on #73
Quick note here (I had observed the original issue on thedisconnect.co) - Safari 14, Big Sur, on M1 was what I was running. Offline mode detected properly with Chrome on the same site, same hardware. Would be good if someone else running an M1 could validate.

[2021-01-22 22:25] chrisbolin commented on #73
@cwise89 we should have a quick "test site" that has both polling and non-polling components. that way we can have ppl test out on that and give us their results.

e.g. in this case, i am guessing (hoping!) polling would still work on safari on an M1 mac

[2021-01-26 14:53] cwise89 commented on #64
Hello @subhendusethi, I took a further look into this. I personally don't think Windows Chrome should be removed from the unsupported browser list. According to the docs:

~MDN

I can see how this would break some potential implementations of this library. Something to note with this browser feature is how they define "offline/online". Most browsers will have `window.navigator.onLine`, they do not

[2021-01-26 14:53] #64 closed

[2021-01-26 14:58] cwise89 commented on #54
@Satsh24 , can you confirm that header resolves your problem? Possibly fork and confirm this? I can't repro when I am hitting the domain from my `http://localhost:3000`. Are you using a VPN like the others below? I believe this may be causing your CORS issue

If this is resolved by the appropriate cors header, I am more than happy to include the header props in V3!

[2021-01-26 23:42] Satsh24 commented on #54
@cwise89 No that didn’t work out well for me. My issue is different, I have restrictions to hit outside api’s so I couldn’t  use this package. But I do think it will be good if we can have an async method accepted as props so we can do whatever we want in that async method. Or accept the url as a prop.

[2021-01-27 01:45] chrisbolin commented on #54
Done! :) https://github.com/cwise89/react-detect-offline#props

[2021-02-03 14:29] EltonCarreiro commented on #18
@cwise89 Sure, I'll be happy check that out! :)

[2021-02-12 09:35] AymenMarouani opened #74 "Polling issue with URL: CORS"
Hi,

Thanks a lot for the library, it saved my day,

Actually I'm using the Detector component in polling mode to detect if the user went offline or lost the network connection, I provided a URL for ping, but the problem was that I receive a CORS error that pollutes the browser's console, is it possible to just ignore the CORS error and consider a simple ping ? after all, if I received an answer a

[2021-02-19 09:15] pawneetdev opened #75 "Shows you are offline when ipv4.icanhazip.com was returning slow response"
Due to icanhazip not working properly our page was showing you are offline.

Can some fallback URL be used to double-check the status of the internet?

[2021-02-19 09:24] heenasangtani commented on #75
Having the same issue

[2021-02-19 11:21] VijayJaybhay commented on #75
Having the same issue for the last few hours

[2021-02-19 11:56] katfastovets commented on #75
Have the same issue during last 3 hours.
I've increased timeout value to 7000 and it works for now.
And also Detector component has onChange event, where you can write your own fallback with extra polling some other site or use navigator.onLine.

[2021-02-19 12:27] heenasangtani commented on #75
I am using Online and Offline without any props do you help me in this.

[2021-02-19 12:51] katfastovets commented on #75
You can pass prop polling to Online and Oflline, as the doc says

[2021-02-19 12:53] VijayJaybhay commented on #75
In my case, I have disabled polling which causes the library to use browser-specific online and offline events. I referred to support docs (https://caniuse.com/online-status) which shows that support is available since many previous versions in popular browsers. Consider switching to no polling if you are not supporting older versions of different browsers.

[2021-02-19 13:31] Serginh0 commented on #75
some good soul, could you pass a website that you use to check online / offline? it would be a good one, if the site was from Google.
Sorry for the bad English

[2021-02-19 13:55] Serginh0 commented on #75
I try to use https://www.google.com/ mas CORS error, could someone help?

[2021-02-19 17:33] mdodge-ecgrow commented on #75
Having the same issue in my app.  Thought it was my connection, but then I saw the errors in the console.

[2021-02-19 17:42] lesmo commented on #75
How about making the domain/server configurable? It's scary to see this could take down stuff...

[2021-02-19 18:35] chrisbolin commented on #75
omg yall. it's already configurable. rtfm 😂

[2021-02-19 18:36] chrisbolin commented on #75
@lesmo check this out: https://github.com/cwise89/react-detect-offline#props

specifically the pooling url 👼

I has to be easier to read a short readme than to search for an issue and comment on it, right?

[2021-02-19 18:57] lesmo commented on #75
lol it happens, a college found a bug caused by this lib and I trusted he already discarded stuff from the Readme 🤷‍♂️

[2021-02-19 19:52] lesmo commented on #75
So, upon further inspection, `canihazip.com` is no longer functional. I've sent PR #76 with further info.

[2021-02-19 20:06] katfastovets commented on #75
https://github.com/major/icanhaz/issues/21
Looks like they had trouble with DDoS attacks.

[2021-02-19 20:15] chrisbolin commented on #75
I feel bad for them :(

I think this means we'll likely move to a default that is run by a larger organization and can guarantee better uptime. I've already talked with @cwise89 and he has some ideas.

[2021-02-19 20:16] lesmo commented on #75
It's currently pointing to some pastry stuff, now I want some cookies 😂

In all seriousness though, it appears `ipify.org` is more reliable. I was going to suggest using Google's or Microsoft's service instead, but probably their EULA forbids this and probably some CORS won't allow it. I once used it on a React Native app... but in that, your requests don't really care about CORS.

[2021-02-19 22:37] major commented on #75
Howdy from the maintainer of icanhazip.com! 🤠

I've moved icanhazip to Cloudflare's workers (thanks to Cloudflare for sponsoring the site), so the response time should be better now. I'm always open to feedback!

[2021-02-20 03:41] heenasangtani commented on #75
In mobile firefox it is working fine (only issue in chrome android) but when I pass Polling Props it stops working on firefox :P

[2021-02-20 20:06] chrisbolin commented on #75
this has been fixed with `v2.4.2`. thank you to all of you who reported this and did research, especially @lesmo who found a viable alternative.

**if you cannot upgrade, that's ok!** just change `polling.url` to a reliable CORS-capable endpoint. we are now using `https://api.ipify.org/?format=json`

[2021-02-20 20:06] #75 closed

[2021-02-21 02:23] jpriollaud commented on #75
i upgraded to v2.4.2 and somehow on mobile chrome my offline component renders after 5 seconds and stays rendered permanently.  on desktop chrome os with chrome browser it works normally.

[2021-02-21 19:44] jpriollaud commented on #75
`<Detector polling={{url: "https://api.ipify.org/?format=json"}} ... />` and CSP connect-src: 'https://api.ipify.org' does not work.  Offline is always shown on mobile chrome, Windows chrome, but not always shown on desktop Chrome OS chrome.

CSP won't allow query string.

`<Detector polling={{url: "https://ipv4.icanhazip.com"}} ... />` and CSP connect-src: 'https://ipv4.icanhazip.com' works perfe

[2021-02-21 21:04] jpriollaud commented on #75
For me in both v2.4.0 and v2.4.2 only `<Detector polling={{url: "https://ipv4.icanhazip.com"}} ... />` works.  I tried multiple endpoints at ipify.org, polling props vs no polling props, tried multiple CSP connect-src configurations.

On the following user agents the ip checkers https://www.ipify.org/ and https://checkip.amazonaws.com/ do not work (offline component perma-renders): Windows Chrome.

[2021-02-23 20:10] aehmt commented on #74
Having similar issue, using <Offline /> component.
https://api.ipify.org/?format=json request is throwing CORS error with HTTP `405 Method Not Allowed` in some parts of the Europe and India.

[2021-02-25 18:37] Serginh0 commented on #74
Hello, I'm also using the Detector component, the new ping url (https://api.ipify.org/?format=json ) is also giving CORS error, I'm from South America (Brazil), did you manage to solve this problem?

[2021-02-26 02:48] cwise89 commented on #74
looking into another solution for default polling url.

[2021-02-26 03:05] ajbee07 commented on #74
default polling url is not working :(
it's always pointing to https://api.ipify.org/?format=json which has CORS issue in different locations.

[2021-03-02 09:21] lenni-io commented on #74
Same issue

[2021-03-02 15:59] cwise89 commented on #74
The fix has been released. It is now pointing at the Star Wars API URL. After this learning experience we all faced with this issue, let's keep reminded that we cannot rely on external services and I highly recommend not relying on the default polling url- use it as a fallback.

Thank you all for your understanding! :)

Closing.

[2021-03-02 15:59] #74 closed

[2021-03-02 16:00] cwise89 commented on #73
I got my hands on an M1 this morning, and I cannot repro this.

closing until there is a reliable repro

[2021-03-02 16:00] #73 closed

[2021-03-02 16:03] cwise89 commented on #18
closing. related to #71 and will be released in V3  :)

[2021-03-02 16:03] #18 closed

[2021-03-02 16:17] cwise89 commented on #53
@ekynoxe I was looking into this issue just now. I changed my user-agent to `windows-chrome` and `windows-firefox`, but can't I get a repro. I'm going to close this for now, please let me know what specific user-agent is causing your problems and I'll re-open! Thanks for using our library :)

[2021-03-02 16:17] #53 closed

[2021-03-02 16:20] cwise89 commented on #43
closing this, this feature will be added to v3 if no pr for this feature opened before then.

[2021-03-02 16:20] #43 closed

[2021-03-02 16:21] cwise89 commented on #45
closing

[2021-03-02 16:21] #45 closed

[2021-03-08 11:10] beevelop commented on #74
Quick heads up @cwise89: You might have quite some difficulties using the Star Wars API. It's quite easy to get a `Maximum requests reached. Try again later.` response.

So, I'd recommend considering, making the request URL a required configuration, instead of switching the "unintentional DDOS targets" regularly. 😉

[2021-03-08 13:41] EltonCarreiro commented on #71
That looks pretty good and aligned with the latest React code. :)

[2021-03-19 23:04] fmaximus opened #80 "V3 Polling: Only have one polling task."
When using multiple React Elements `<Online />`, `<Offline />`, and hooks with the same PollingConfig,
Polling should only happen once.

[2021-04-21 06:08] ash0x0 opened #83 "navigator.onLine false positives"
The component currently fails to detect offline status reliably and produces many false positives.
From the [navigator.onLine doc](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine): `while you can assume that the browser is offline when it returns a false value, you cannot assume that a true value necessarily means that the browser can access the internet.`

Relying on `navi

[2021-04-29 23:33] cassiolacerda opened #84 "Access to XMLHttpRequest at 'https://www.swapi.tech/api/' from origin 'http://localhost:3030' has been blocked by CORS policy"
Hello!

In the version 2.4.0, the package used by default https://ipv4.icanhazip.com/ for polling and I have a project that works perfectly. In a new project, I use now version 2.4.3, and a cors problem is occurring. When I analised the source code, I found you change to new url: `https://www.swapi.tech/api/`.  Is there anything different that I need to implement in this new version?

[2021-05-03 13:38] RonMichaeli commented on #84
+1

[2021-05-04 15:48] MilesHart commented on #84
+1

This is concerning....

[2021-05-04 15:53] MilesHart commented on #84
Ok, this is listed in the release notes.

https://github.com/cwise89/react-detect-offline/releases/tag/v2.4.3

Could you not use the current navigator address?

[2021-05-06 18:40] BrodaNoel opened #86 "`polling.url` should not have a default value"
I was checking the problem about CORS in the default `polling.url`.

I think this library should throw and error when `polling.url` is not defined, instead of having a default value.
Quite simple, and it will avoid killing third party servers.

[2021-05-07 12:47] rick427 commented on #84
Am also encountering the same issue.

[2021-05-18 02:17] dsboo opened #98 "V3 release date"
Hi, i consider use this library to my service.

Could you share when V3 release?

[2021-05-18 09:28] #98 closed

[2021-05-27 13:26] cwise89 commented on #84
If the default polling address is not working for you specifically, you must not rely on a default polling url. There are many factors in whether the default polling url will work for your implementation. Thank you @lluisemper for an awesome suggestion.
Just to throw this out there, as it seems to be tripping lots of people up. Devolping on localhost against a server you can't enable CORS on, WILL

[2021-05-27 13:26] #84 closed

[2021-05-27 13:29] cwise89 commented on #86
I really can't imagine that would go well for the thousands of people that rely on it.... Unless you would like to maintain the Issues that flood in.

[2021-05-27 13:29] #86 closed

[2021-05-27 13:37] cwise89 commented on #83
Hey @ash0x0 We have logic that determines the Browser being used in the user agent. This should prevent any false positives like you are mentioning as they all have different definitions of "online". Can you share a sandbox or example of the false positives ? Particularly , what user agent is causing the false positives?

[2021-05-27 13:38] cwise89 commented on #80
This will be implemented in v3 as a singleton on the window object.

[2021-05-27 13:43] BrodaNoel commented on #86
How are you using semver?
I see currently it's on 2.4.4
Why did you change from 1.x to 2.x in the past? It had to be a breaking change.
Just release 3.x
'npm' is not going to switch to 3.x. Devs are going to have to do it manually. They are going to check here what's the breaking change and they are going to add a default value and that's all 🤷‍♂️

[2021-05-27 13:51] ash0x0 commented on #83
For me it was electron 12, which is chromium 89. Not sure if electron 13 has the same problem but 11 certainly does.

[2021-05-28 12:23] vishnuborn1996 opened #100 "Unstable connection"
Does this library provide an option to detect unstable internet ?

[2021-06-08 08:50] tamizharasank commented on #71
I'm getting this error GET https://ipv4.icanhazip.com/ net::ERR_NAME_NOT_RESOLVED (anonymous) on my react app but i'm using stable internet connection only. Please find the below attachement and please help me to solve this.
![Screenshot 2021-06-08 131517](https://user-images.githubusercontent.com/20364591/121154537-abd3c780-c864-11eb-9826-cb71718edb3f.png)

[2021-06-09 09:13] tanz98 opened #101 "found error in network ERR_NAME_NOT_RESOLVED"
Hello my friend found error in icanhazip ERR_NAME_NOT_RESOLVED , but just in his browser laptop. any idea to solve this issue?

she already clear cache, & try in another browser laptop like mozilla still get error like that and she open another web apps like youtube or google work perfectly. but in my laptop browser just work perfectly.

[2021-07-06 13:28] cwise89 commented on #101
I suggest your friend find another polling url. They are relying on the the old version of the default polling url.

[2021-07-06 13:28] #101 closed

[2021-07-06 13:28] cwise89 commented on #100
I like this idea. would you be interested in implementing this in a PR?

[2021-07-06 13:29] cwise89 commented on #100
V3 is around the corner, sounds like a good feature for both versions. Can you give more details about what you have in mind for this?

[2021-07-31 03:58] rhythmbhiwani commented on #18
Added the type declaration on [@types/react-detect-offline](https://www.npmjs.com/package/@types/react-detect-offline)

[2021-08-24 14:44] cwise89 commented on #98
Shooting to have it as a Beta release by end of year :)

[2021-09-28 19:02] BradPrit09 commented on #83
@ash0x0 It may be the issue of the object's state mutation.

[2021-10-25 14:32] spryzone commented on #100
This would be a great feature. It's hard to test/simulate but there are network conditions where the detector can poll for a connection and returns online, but the network is so weak it will not load the app. It would be great if we could force the detector to return offline if the network is e.g. < 10kbs (i.e online but unusable).

[2021-11-28 05:25] lidaof opened #112 "offline false alarm?"
Hi,
thanks for this nice package.
I am wondering why I get the offline notice while I can still open https://ipv4.icanhazip.com/ (which shows my IP address)?
using the latest version 2.4.5

Thank you!

[2021-12-18 12:19] nahid18 commented on #112
Same issue here

[2022-05-08 12:36] kevindekemele commented on #112
Mine keeps switching back and forth between offline and online components.

[2022-06-12 02:27] geekskai commented on #98
@dsboo   You can take a look at this, this is the implementation of the reference v3 version https://github.com/geekskai/react-network-detect

[2022-06-12 02:28] geekskai commented on #80
@fmaximus   You can take a look at this, this is the implementation of the reference v3 version https://github.com/geekskai/react-network-detect

[2022-06-12 02:28] geekskai commented on #71
You can take a look at this, this is the implementation of the reference v3 version https://github.com/geekskai/react-network-detect

[2022-06-12 02:29] geekskai commented on #22
@marcopeg   You can take a look at this, this is the implementation of the reference v3 version https://github.com/geekskai/react-network-detect

[2022-06-12 06:24] marcopeg commented on #22
Hello Gan,
I like the idea and the readme seems very detailed.

I could not try it out now for I’m traveling and only have my phone with me.

Suggestion: do not include node_modules on your repo. Use .gitignore to
skip it.

Idea: could you deliver a running example with CodeSandbox or similar
platform?

All the best,
Marco

On Sun, 12 Jun 2022 at 04.29, Gan Kai ***@***.***> wrote:

--

Best regard

[2022-06-12 12:23] geekskai commented on #22
@marcopeg
Oh, thank you very much for your suggestion, I ignored node_modules when submitting the code, I have added a CodeSandbox link https://codesandbox.io/s/awesome-lovelace-f9g8lf?file=/src/App.tsx

Happy travelling
Gan

[2022-07-23 21:50] dsacramone commented on #112
I am curious about this - is it possble to have a "time" of offline before we are determined to be "offline"? I can see users being spammed the "offline" treatment if someone is going thru a spotty area - and the offline/online switching back and forth could get annoying.. any solutions?

[2022-09-20 14:27] mgxp27 opened #122 "cannot stop showing httpbin.org request"
I have httpbin.org get request executing constantly with your package and when offline it shows the error but still try to execute httpbin. Any way to disable it in order to have  clear console.

[2022-09-21 07:40] #122 closed, assigned to nobody

[2022-10-31 12:07] neerajPortalwiz commented on #112
Same I'm having this issue, please resolve it as soon as possible..